<!--
    Lab Checks
-->
<!--Questions-->
<h3>
    Lab Check X.X
</h3>
<div class="submission">
     <ol>
        <li>In order to adjust the position of a costume, what is the name of the block you should use? The name is just the words on the block, not including the labels for input values.</li>
    </ol>
</div>

<!--Code-->
<h3>
    Lab Check X.X
</h3>
<div class="submission">
    <ol>
        <li>
            Export and save the program you just finished. Name it Last-First-LC-X-X.xml
        </li>
        <li>
            Upload the file to Canvas.
        </li>
    </ol>
</div>

<!--Image-->
<h3>Lab Check X.X</h3>
<div class="submission">
    Take a screenshot of XXXX. Rename the file as Last-First-LC-X-X. Do not change the extension (jpg, png, etc)
</div>

<!--Extra Help-->
<h3>Extra Help<a name="second" class="anchor">&nbsp;</a></h3>
<div class="extraHelp">
    <p>Add some information here</p>
    <iframe src="https://drive.google.com/file/d/ID_NUMBER_GOES_HERE/preview" width="960" height="540"></iframe>
</div>

 